.container {
    max-width: 1100px;
    margin: 0 auto;
}

.results {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: columns;
}

.results {
    margin: 2rem;
    padding: 2rem;
    max-width: 600px;
    background: #fafa3b;
    border-radius: 1rem;
    border: 1px solid #312f2f;
}

.listResult {
    margin: 2rem;
    padding: 2rem;
    max-width: 100px;
    background: #fafa3b;
    border-radius: 1rem;
    border: 1px solid #292626;
}


.listSlug {
    margin: 2rem;
    padding: 2rem;
    max-width: 100px;
    background: #2ec2c7;
    border-radius: 1rem;
    border: 1px solid #292626;
}

.listPlay {
    margin: 2rem;
    padding: 2rem;
    max-width: 100px;
    background: #b453cc;
    border-radius: 1rem;
    border: 1px solid #292626;
}

.loader {
    border: 20px solid #13929b;
    border-radius: 20%;
    border-top: 10px solid #9b139b;
    height: 250px;
    width: 250px;

}